{% extends 'base.html.twig' %}

{#{% block title %}Create a new Record | {{ parent() }}{% endblock %}#}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <a href="/list" class="btn btn-primary" role="button" >see task list</a>
        </div>
            <div class="d-flex justify-content-center" style="margin-top: 62px">
                <div class="row" style="height: 690px">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <linearGradient x1="0%" y1="50%" x2="100%" y2="50%" id="linearGradient-1">
                                <stop stop-color="#D0FF14" offset="0%"></stop>
                                <stop stop-color="#7C0A02" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <g id="Mixed-Vinyl" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group">
                                <g id="record-vinyl" transform="translate(46.000000, 0.000000)" fill="url(#linearGradient-1)" fill-rule="nonzero">
                                    <path d="M104,0 C46.562386,0 0,46.562386 0,104 C0,161.437614 46.562386,208 104,208 C161.437614,208 208,161.437614 208,104 C208,46.562386 161.437614,0 104,0 L104,0 Z M104,128 C90.745166,128 80,117.254834 80,104 C80,90.745166 90.745166,80 104,80 C117.254834,80 128,90.745166 128,104 C128,117.254834 117.254834,128 104,128 Z" id="Shape"></path>
                                </g>
                                <g id="record-vinyl" transform="translate(370.000000, 0.000000)" fill="url(#linearGradient-1)" fill-rule="nonzero">
                                    <path d="M104,0 C46.562386,0 0,46.562386 0,104 C0,161.437614 46.562386,208 104,208 C161.437614,208 208,161.437614 208,104 C208,46.562386 161.437614,0 104,0 L104,0 Z M104,128 C90.745166,128 80,117.254834 80,104 C80,90.745166 90.745166,80 104,80 C117.254834,80 128,90.745166 128,104 C128,117.254834 117.254834,128 104,128 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle stroke="#979797" fill="none" cx="312" cy="-150" r="350"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}