{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thank you for adding new task</h1>
    <div>
        Your task: {{ task }}
    </div>
    <div>
        {% if status == true %}
            With status: done
        {% else %}
            With status: not done
        {% endif %}
    </div>
    <div>
        Your task id: {{ id }}
    </div>
    <a href="/" class="btn btn-primary" role="button">go back</a>
{% endblock %}