{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thank you for deleting task</h1>
    <div>
        Your deleted task id: {{ id }}
    </div>
    <a href="/" class="btn btn-primary" role="button">go back</a>
{% endblock %}