{% extends 'base.html.twig' %}

{%  block body %}
    <h1>Welcome to my little game</h1>
    <h1>Compete to gain huge fame</h1>
    <h1>Your life won't be the same</h1>
    <h1>Don't be anything near lame</h1>
    <h1>Just play this little game</h1>
    <h1>Or you'll be covered in shame</h1>
    <h1>Only you'll be to blame</h1>
    <h1>Just play this little game</h1>`
    <a href="/game/1" class="btn btn-primary" id="start" role="button">GAME 1</a>
{% endblock %}