<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>
<body>

<!-- Main Navigation -->
<nav class="navbar mb-5" style="background-color: #485b15;">
{#    <a class="navbar-brand" href="/">#}
{#        <img src="/public/images/AMpaint.png" width="30" height="30" alt="">#}
{#    </a>#}
    <div class="container">
        <div class="d-flex justify-content-start">
            <i class="fas fa-dragon" style="color: rgb(0,0,0); font-size: 69px"></i>
        </div>
        <div class="d-flex justify-content-between">
            <i class="far fa-thumbs-up" style="margin-right: 10px; margin-top: 5px; font-size: 33px"></i>
            <p style="font-size: 33px">Hallöchen</p>
            <i class="far fa-thumbs-up" style="margin-left: 10px; margin-top: 5px; font-size: 33px"></i>
        </div>
        <div class="d-flex justify-content-end">
            <i class="fas fa-user-secret p-2" style="color: black; font-size: 69px"></i>
        </div>
    </div>

</nav>
<!-- End Main Navigation -->

{% block body %}{% endblock %}

<!-- Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <p>From the author:   </p>
            <p style="color: red;"><i class="fas fa-heart"></i></p>
        </div>
    </footer>
</div>
<!-- End Footer -->

</body>
</html>