body {
    background-color: #17242C;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.task-list i{
    margin-top: 5px;
}

.task-details {
    color: #ffffff;
}

.song-list a{
    color: rgba(75, 76, 82, 0);
}

.fa-star {
    color: rgba(162, 14, 211, 0.62);
}

.fa-times {
    color: #fa0000;
}
.fa-check {
    color: #60b611;
}

.task-details {
    /*background-color: #222F36;*/
    border-radius: 1px;
    padding: 1px;
    margin-left: 10px;
}

.genre-list li {
    margin-right: 5px;
}

.mixed-vinyl-container {
    background: rgb(23,36,44);
    background: linear-gradient(180deg, rgba(23,36,44,1) 1%, rgba(34,47,54,1) 97%);
    border-radius: 5px;

}
.row svg{
    height: 230px;
}

.fixed_bottom {
    margin-top: 200px;
}
#head_main {
    background-color: rgba(204, 182, 29, 0.78);
}